{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--======================== CSS ========================-->
    <link rel="stylesheet" href="{% static 'css/main_styles.css' %}">
    {% block extra_css %}{% endblock extra_css%}

    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <!--================================ NAVIGATION BAR ================================-->
    {% include 'navbar.html' %}

    <!--================================= MAIN CONTENT =================================-->
    {% block content %}
    {% endblock content %}

    <!--================================ FOOTER SECTION ================================-->
    {% include 'footer.html' %}

    <script src="{% static 'js/main_scripts.js' %}"></script>
</body>
</html>