{% load static %}

<!--================================= FOOTER SECTION =================================-->
<footer class="footer">
    <a href="#"><img src="{% static 'images/subcal_logo.svg' %}" alt="Subcal Logo" class="footer_logo"></a>
    <p class="copyright_text">© 2025: Another fun project by Michele.</p>

    <div class="social_icons">
        <!-- link -->
        <a href="https://www.linkedin.com/in/michele-sheminith-331b50390/" target="_blank">
            <img src="{% static 'images/linkedin_icon.png' %}" alt="Linkedin">
        </a>
        <!-- link -->
        <a href="https://github.com/Sheminith" target="_blank">
            <img src="{% static 'images/github_icon.png' %}" alt="Github">
        </a>

        <!-- link -->
        <a href="https://dribbble.com/sheminith" target="_blank">
            <img src="{% static 'images/dribbble_icon.png' %}" alt="Dribbble">
        </a>

        <!-- link -->
        <a href="https://www.instagram.com/michele_sheminith/" target="_blank">
            <img src="{% static 'images/instagram_icon.png' %}" alt="Instagram">
        </a>
    </div>

    <hr>

    <div class="michele_profile">
        <a href="https://www.linkedin.com/in/michele-sheminith-331b50390/" target="_blank" class="profile_image">
            <img src="{% static 'images/michele_profile_image.svg' %}" alt="Michele Sheminith">
        </a>
        <p>"If Elon did it, so can you."</p>
    </div>
</footer>