{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
{% endblock extra_css %}

{% block title %}Home Page{% endblock title %}

{% block content %}

<script src="{% static 'base/js/script.js' %}"></script>
<script>
    // Images list for random image selection for subnets and hero image
    window.subnetImages = [
        "{% static 'base/images/gradient_1.png' %}",
        "{% static 'base/images/gradient_2.png' %}",
        "{% static 'base/images/gradient_3.png' %}",
        "{% static 'base/images/gradient_4.png' %}",
        "{% static 'base/images/gradient_5.png' %}",
        "{% static 'base/images/gradient_6.jpg' %}",
        "{% static 'base/images/gradient_7.png' %}",
        "{% static 'base/images/gradient_8.png' %}",
        "{% static 'base/images/gradient_9.jpg' %}",
        "{% static 'base/images/gradient_10.jpg' %}",
        "{% static 'base/images/gradient_11.jpeg' %}",
        "{% static 'base/images/gradient_12.jpeg' %}",
        "{% static 'base/images/gradient_13.jpeg' %}",
        "{% static 'base/images/gradient_14.jpeg' %}",
        "{% static 'base/images/gradient_15.jpeg' %}",
        "{% static 'base/images/gradient_16.jpeg' %}",
        "{% static 'base/images/gradient_17.jpeg' %}",
        "{% static 'base/images/gradient_18.jpeg' %}",
        "{% static 'base/images/gradient_19.jpeg' %}",
        "{% static 'base/images/gradient_20.jpeg' %}",
        "{% static 'base/images/gradient_21.jpeg' %}",
        "{% static 'base/images/gradient_22.jpeg' %}",
        "{% static 'base/images/gradient_23.jpeg' %}",
        "{% static 'base/images/gradient_24.jpeg' %}",
    ];

    function shuffle(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
    }

    // Shuffle images for subnet cards
    window.shuffledImages = shuffle([...window.subnetImages]);
</script>

<!--================= MAIN HERO SECTION =================-->
<main class="hero_section container">
    <h1>Subnetting Is Just<br>One Click Away</h1>
    <p>Divide your networks effortlessly with this subnetting tool—no more<br>suck at subnetting</p>
    
    <form class="main_input" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="192.168.10.0/24" class="ip_input" name="ip_address" value="{{ ip_address }}" autocomplete="off">
        <span class="input_divider">/</span>
        <input type="number" placeholder="4 subnets" class="subnet_input" name="num_subnets" value="{{ num_subnets }}">
        <input class="calculate_btn btn" type="submit" value="Calculate">
    </form>

    {% if not subnets %}
    <div class="hero_image" id="hero-image">
        <img src="{% static 'base/images/subcal_logo_white.svg' %}" alt="Subcal Logo" class="hero-image-logo">

        <!-- Rotating hero image -->
        <img id="hero-random-image"
             src="{% static 'base/images/subcal_hero_image.png' %}"
             alt="Hero Image">
    </div>
    {% endif %}
</main>

<!--================= SUBNET CARDS =================-->
<section class="subnets_section container" id="subnets-section">
    {% for subnet in subnets %}
    <div class="subnet_card">
        <div class="subnet_card_header">
            <img class="subnet_image" src="" alt="Subnet background Image">

            <div class="header_text">
                <p class="main_ip_title">Main Network</p>
                <h2 class="main_ip">{{ subnet.network_ip_address }}</h2>
            </div>
        </div>

        <div class="subnet_content">
            <div class="subnet_label_box">Subnet {{ forloop.counter }}</div>
            <div class="subnet_info">
                <p><span>Subnet Mask: </span>{{ subnet.subnet_mask }}</p>
                <p><span>Network IP: </span>{{ subnet.network_ip_address }}</p>
                <p><span>Broadcast IP: </span>{{ subnet.broadcast_ip_address }}</p>
                <p><span>Total Address Range: </span>{{ subnet.total_ip_address_range }}</p>
                <p><span>Usable Range: </span>{{ subnet.usable_hosts_range }}</p>
                <p><span>Default Gateway: </span>{{ subnet.default_gateway }}</p>
            </div>
        </div>

        <div class="subnet_bottom_stats">
            <h1 class="usable_ip">{{ subnet.usable_ip_count }} <span>Usable</span></h1>
            <h1 class="total_ip">{{ subnet.total_ip_count }} <span>Total</span></h1>
        </div>
    </div>
    {% endfor %}
</section>

<!-- Used to find whether subnets are generated, because we can't use 'if subnets' jinja tag inside js code -->
<div id="subnet-flag" data-has-subnets="{{ subnets|length|default:0 }}"></div>

{% endblock content %}
