/* ==================================== MAIN CONTENT ==================================== */

/* ====================== HERO SECTION ====================== */
.hero_section {
    margin-top: var(--big-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_section h1 {
    text-align: center;
    margin-bottom: var(--small-margin);
}

.hero_section p {
    font-size: var(--medium-font-size-1);
    text-align: center;
    margin-bottom: var(--small-margin);
}

.main_input {
    margin-top: var(--small-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--primary-color);
    border-radius: 28px;
    padding: 3px 4px 3px 32px;
    transition: box-shadow 0.3s, border-color 0.3s;
}

/* Shadow effect when any input inside is focused */
.main_input:has(input:focus) {
    border-color: var(--primary-color);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.main_input .ip_input,
.main_input .subnet_input {
    padding: 15px;
    margin: 0 10px;
    border: none;
}

.main_input .ip_input::placeholder,
.main_input .subnet_input::placeholder {
    font-size: var(--medium-font-size-1);
    color: var(--muted-text-color);
}

.input_divider {
    font-size: 35px;
    font-weight: 200;
}

.main_input .calculate_btn {
    border: none;
    outline: none;
    font-size: var(--medium-font-size-1);
    font-weight: var(--semibold-font-weight);
    padding: 20px 60px;
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.2s ease; /* smooth animation */
}

.main_input .calculate_btn:hover{
    transform: scale(0.98);
    font-weight: var(--medium-font-weight);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.hero_image {
    margin-top: var(--big-margin);
    width: 100%;
    height: 425px;
    border-radius: 35px;
}

.hero_image img {
    border-radius: 35px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ====================== SUBNETS SECTION ====================== */
.subnets_section {
    margin-top: var(--big-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--medium-margin);
}

.subnet_card {
    width: 400px;
    border-radius: 40px;
    background-color: var(--primary-color);
    border: 8px solid var(--primary-color);
    overflow: hidden;
    color: #FFFFFF;
}

.subnet_card_header {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.subnet_card_header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_text {
    position: absolute;
    top: 35px;
    right: 20px;
    text-align: right;
}

.header_text .main_ip_title {
    opacity: 0.75;
    font-size: var(--medium-font-size-1);
    color: #FFFFFF;
}

.header_text .main_ip {
    font-size: var(--medium-font-size-2);
    font-weight: var(--semibold-font-weight);
    color: #FFFFFF;
}

.subnet_content {
    background-color: var(--dark-grey-color);
    margin-top: -20px;
    padding: 45px 20px 5px 20px;
    border-radius: 20px 20px 0 0;
    position: relative;
}

/* Label box with angled corner */
.subnet_label_box {
    position: absolute;
    top: -12px;
    left: 0;
    background-color: var(--dark-grey-color);
    padding: 20px 110px 20px 20px;
    border-radius: 12px 12px 0 0;
    font-size: var(--medium-sma-size-1);
    font-weight: var(--medium-font-weight);
    color: #FFFFFF;

    /* angled right edge */
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
}

.subnet_info p {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--medium-font-size-1);
    font-weight: var(--medium-font-weight);
    color: var(--light-grey-color);
}

.subnet_info span {
    color: var(--muted-text-color);
}

.subnet_bottom_stats {
    background: var(--dark-grey-color);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.subnet_bottom_stats h1 {
    margin: 0;
    font-size: var(--medium-font-size-3);
    font-weight: var(--semibold-font-weight);
    color: #FFFFFF;
}

.subnet_bottom_stats span {
    font-size: var(--medium-font-size-1);
    font-weight: var(--regular-font-weight);
    color: var(--light-grey-color);
}